@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;700;900&family=Poppins:wght@400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}
/* CSS */
.hover-dropdown {
    position: absolute;
    top: calc(100% + 8px);
    color: #fff;
    right: 0;
    width: 208px;
    background-color: #3F4447;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.10);
    border-radius: 4px;
    z-index: 10;
    visibility: hidden; /* Sembunyikan dropdown secara default */
    opacity: 0;
    transition: visibility 0s, opacity 0.2s ease; /* Efek transisi */
}

.hover-menu:hover .hover-dropdown {
    visibility: visible; /* Tampilkan dropdown saat menu dihover */
    opacity: 1;
}

.bg-dark {
    background-image: url(assets//images//bg-dark.png);
    background-size: cover; 
    background-repeat: no-repeat;
}