@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Inter:wght@200;400;500;700;900&family=Lato:ital,wght@0,400;0,700;0,900;1,300&family=Playfair+Display:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&family=Source+Sans+3:wght@300;400;500;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}
/* CSS */
.hover-dropdown {
    position: absolute;
    top: calc(100% + 8px);
    color: #fff;
    right: 0;
    width: 208px;
    background-color: #3F4447;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.10);
    border-radius: 4px;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.2s ease;
}

.hover-menu:hover .hover-dropdown {
    visibility: visible;
    opacity: 1;
}

.bg-dark {
    background-position: center;
    background-image: url(assets//images//bg-dark.png);
    background-size: cover; 
    background-repeat: no-repeat;
}

.blackbg {
    background-position: center;
    background-image: url(assets//images//bg-dark.png);
    background-size: cover; 
    background-repeat: no-repeat;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #6B7280;
    border-radius: 3px;
}

.notification-container::-webkit-scrollbar {
    width: 6px;
}

.notification-container::-webkit-scrollbar-track {
    background: transparent;
}

.notification-container::-webkit-scrollbar-thumb {
    background-color: #6B7280;
    border-radius: 3px;
}

.notification-container::-webkit-scrollbar-thumb:hover {
    background-color: #4B5563;
}

.mobile-width {
    width: 60%;
}

.dropown-profile {
    font-size: 14px;
    position: absolute;
    right: 110px;
    top: 75px;
    width: 184px;
    color: #fff;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.10);
    border-radius: 4px;
    z-index: 10;
}

.notif-dropdown {
    position: absolute;
    width: 330px;
    height: 372px;
    background-color: #3F4447;
    top: 10%;
    right: 380px;
}

.dark .icon {
    fill: white;
}

.light .icon {
    fill: #5c5c5c;
}

@media screen and (min-width: 1920px) {
    .dropown-profile {
        right: 300px;
        top: 9%;
    }

    .notif-dropdown {
        right: 585px;
        top: 9%;
    }
}

@media screen and (max-width: 1280px) {
    .dropown-profile {
        right: 5px;
        top: 90px;
    }

    .notif-dropdown {
        right: 240px;
        top: 10%;
    }
}

@media screen and (max-width: 428px) {
    .dropown-profile {
        right: 220px;
        top: 305px;
    }

    .notif-dropdown {
        right: 85px;
        top: 25%;
    }
}

@media screen and (min-width: 360px) and (max-width: 427px) {
    .dropown-profile {
        right: 150px;
        top: 305px;
    }

    .notif-dropdown {
        right: 10px;
        top: 22%;
    }
}





